<p style="color: green"><%= notice %></p>

<% content_for :title, "Twitters" %>

<h1>
  Twitters:
  <%=@twitters.count%>
  /
  <%=Twitter.count%>
</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Tweet</th>
      <th scope="col">Username</th>
      <th scope="col">Create</th>
      
    </tr>
  </thead>
  <tbody>
    <div id="twitters">
      <% @twitters.each do |twitter| %>
        
        <tr>
          <th><%= twitter.id%></th>
          <td><%= twitter.description%></td>
          <td><%= twitter.username%></td>
          <td><%= twitter.created_at%></td>
          <td><%= link_to "Show", twitter, class:"btn btn-dark" %></td>
          <td><%= link_to "Edit", edit_twitter_path(twitter), class:"btn btn-dark" %></td>
          <td><%= button_to "Destroy", @twitter, method: :delete, class:"btn btn-danger", data: {confirm: 'Esta seguro?'} %></td>
        </tr>
      <% end %>
    </div>
    
  </tbody>
</table>

<%== pagy_nav(@pagy) %>



