<p style="color: green"><%= notice %></p>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Tweet</h5>
    <%= render @twitter %>
    <%= link_to "Edit this twitter", edit_twitter_path(@twitter), class:"card-link" %>
    <%= link_to "Back to twitters", twitters_path, class:"card-link" %>
  </div>
</div>


<div class = "pt-3">
  <%= button_to "Destroy", @twitter, method: :delete, class:"btn btn-danger" %>
</div>